    body {
      font-family: "Montserrat", "Roboto", "Poppins", "Open Sans", sans-serif;
    }
    /* Custom scrollbar for sidebar */
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      background: #5b2c91;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #a087c2;
      border-radius: 10px;
      border: 2px solid #5b2c91;
    }